body{
    font-family: Arial, Helvetica, sans-serif;
    background-image:url('../images/fondo1.png')
}
.container{

    background-color: pink;
    margin: 0 auto;
    text-align: center;
    width: auto;
    min-height: 50px;
    padding-top: 5%;
    padding-bottom: 2%;
    margin-top: 7%;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    overflow: auto;
   
}
.number{
    margin: 1%;
    border-style: none;
    background-color: rgba(1, 1, 1, 0);
    color: black;
    text-align: center;
}
hr{
    color: black;
    width: 40%;
    margin-top: 5%;
    border-style: none;
    border: 1px solid black;
}
label{
    position: relative;
    float: left;
    margin-left: 30%;
}
.verdadero{
    margin-top: 12%;
    color: chartreuse;
}
.falso{
    margin-top: 12%;
    color:red;
}
.button{
    margin-top: 1%;
    margin-right: 5%;
    float: right;
}
.resultado{
    text-align: center;
}
nav a{
    text-decoration:none;
    color:inherit;
    font-size:14px;
    } 
    nav li{
    z-index: 20;
    overflow: auto;
    margin-top: 5px;
    width:15%;
    padding:5px 10px;
    background-color:pink;
    border:1px solid #000;
    text-align:center;
    color:#fff;
    text-decoration: none;
    }
    nav li:hover{
    background-color:#fff;
    color:#000;
    text-decoration: none;
    }
    .button{
        text-decoration: none;
        padding: 3px;
        font-weight: 600;
        font-size: 12px;
        color: #ffffff;
        background-color: #ba187c;
        border-radius: 6px;
        border: 2px solid #720964;
        margin-top: 10px;
      }
      .button:hover{
          background-color: rgb(233, 122, 209);
          border: 2px solid #eeaee5;

      }
      .indexImage{
          width: 60%;
          float: right;
          
      }
      #tablaMult{
          margin-left: auto;
          margin-right: auto;
      }